.navbar_section{
   
    width: 100%;
    height: 90px;
    top: 0;
    left: 0;
    background-color: white;
    border-bottom: 1px solid whitesmoke;
}

.navbar_section .container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.navbar_section span{
    color: #9656a1;
}
.navbar_section .nav__menu{
    display: flex;
}

.navbar_section li{
    padding: 1rem;
}

.namburger{
   display: none;
}

.navbar_section .icon{
    font-size: 1rem;
}

@media screen and (max-width:940px) {
    .namburger{
        display: block;
    }
    .navbar_section .nav__menu{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 90px;
        right:-100%;
        height: 100%;
        width: 100%;
        /* background: rgba(255,255,255,.98); */
        /* background: rgb(173, 216, 230); */
        background: url('https://images.unsplash.com/photo-1532323544230-7191fd51bc1b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80') no-repeat center center/cover;
        
        transition: 0.4s ease-in-out;
        z-index: 10;
    }
    .navbar_section .active{
        right: 0;
    }
    .navbar_section .nav__menu li a{
        font-size: 1rem;
    }
    .navbar_section .nav__menu li:hover{
        background-color: white;
        border-radius: 2px;
    }
    
}