/* google fonts  */

@import url('https://fonts.googleapis.com/css2?family=Akshar&family=Poppins:wght@400;500&family=Quattrocento&family=Roboto:wght@100;400;500&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: #1f1235;
}


body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  max-width: 1240px;
  margin: auto;
}

.btn{
  color:#fffffe;
  background-color: #004643;
  padding: 3px 9px;
  /* display: block; */
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  transition: .4s;
}
.btn:active{
  transform: translate(4px);
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,.2);
}
